<!DOCTYPE html>
<html>
  <head>
    <title>Universal React Redux ES6 Dev</title>
  </head>
  <body>
    <div id="root"><%=html%></div>
    <script></script>
    <script src="/dist/bundle.js"></script>
  </body>
</html>